body {
  background-color: #000000;
}

#wrapper {
  margin: 0 auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

header {
  grid-column: span 12;
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: red;
  text-align: center;
}

nav {
  grid-column: span 12;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  top: 0;
  text-align: center;
  z-index: 9999
}

nav li {
  list-style: none;
  display: inline;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
  padding: 4%;
}

nav li a {
  color: white;
  text-decoration: none;
  padding: 10px;
  transition: transform .2s;
}

nav li a:hover {
  color: red;
  transform: scale(1.5);
}

nav li a:visited {
  color: red;
  text-decoration: underline;
}

main {
  grid-column: 4 / 10;
  font-family: 'Nunito', sans-serif;
  color: white;
  text-align: center;
  font-weight: bold;
}

#headtext {
  transform: translateY(-60px);
}

footer{
  grid-column: span 12;
  color: red;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 20px;
  grid-row: 6;
}

#white {
  color: white;
}

socials {
  transform: translateY(120%);
  position: fixed;
  margin-left: 5px;
}

socials a {
  z-index: -1;
}

#email {
  width: 3%;
}

#insta {
  width: 3%;
}

#tiktok {
  width: 3%;
}

#twitch {
  width: 3%;
}

p a {
  color: red;
  text-decoration: none;
}

img {
  position: relative;
  z-index: 1;
}

iframe {
  position: relative;
  z-index: 1;
}

p {
  position: relative;
  z-index: 1;
}

video {
  position: relative;
  z-index: 1;
}

#Independant {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  color: red;
}